.footer {
  background: url("../../assets/backgrounds/bg-footer.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 680px;
  width: 100%;
  position: relative;

  .credits {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    background-color: $secondary-bg-color;
    height: 40px;
    width: 100%;
    left: 0;
    padding: 0 64px;
    align-content: center;
    vertical-align: center;

    p {
      margin: 10px 0;
      font-family: consolas;
      font-size: 12px;
    }

    p:last-of-type > a {
      text-decoration: none;
      color: blue;
    }
  }
}
.contact {
  display: grid;
  grid-gap: 30px;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;
  margin-top: 200px;
  color: #fcfcfc;
}

.contact-form {
  width: 430px;
  justify-self: end;
}

.status-success {
  margin: 10px 0px;
  padding: 12px;
  color: #00529b;
  background-color: #bde5f8;
  border-radius: 8px;
}

.status-error {
  margin: 10px 0px;
  padding: 12px;
  color: white;
  background-color: red;
  border-radius: 8px;
}

.address {
  display: grid;
  grid-template-rows: 1fr 60px;
  grid-gap: 50px;
  max-width: 430px;
  width: 100%;
  padding: 1rem 0;

  .social {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.location-content {
  display: grid;
  grid-template-columns: 20% 1fr;
  justify-content: flex-start;
  margin-bottom: 0.75rem;

  img {
    justify-self: center;
  }

  p {
    align-self: center;
    vertical-align: center;
  }
}
