.product {
  //height: 400px;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(1, 71, 140, 0) 0%,
    rgba(1, 71, 140, 0.3) 100%
  );
}

.product-text {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 30% 1fr 30% 1fr;
  grid-gap: 20px;

  @include responsive(600px) {
    grid-template-columns: 1fr;
  }

  h3 {
    font-size: 3.5rem;
    justify-self: center;
    @include responsive(600px) {
      transform: translateY(-80px);
    }
  }

  .text {
    @include responsive(600px) {
      width: 500px;
      text-align: center;
      padding: 20px;
      transform: translateY(-80px);
    }
  }
}

.arrowright {
  justify-self: end;

  @include responsive(600px) {
    position: absolute;
    right: 0;
  }
}

.divider {
  border: 1px solid rgba(220, 159, 7, 0.8);
  transform: rotate(90deg);
  width: 120px;
  height: 0px;
  align-self: center;
  justify-self: center;

  @include responsive(600px) {
    display: none;
  }
}

.laptopset {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @include responsive(600px) {
    max-width: 480px;
    grid-template-columns: 1fr;
    height: 100%;
  }

  #product1 {
    align-self: center;

    img {
      width: 300px;
      transform: rotate(-4.87deg);
    }
  }

  #product2 img {
    width: 400px;
  }
}

#product3 {
  align-self: center;
  justify-self: end;
  img {
    width: 300px;
    filter: drop-shadow(0px 17.28px 17.28px rgba(0, 0, 0, 0.25));
  }
}

.arrowright,
.arrowleft {
  cursor: pointer;
  width: 60px;
  height: 80px;
  padding: 4px;
}

.arrowright:focus,
.arrowleft:focus {
  cursor: pointer;
  outline: yellowgreen;
  box-shadow: 0px 10px 5px 2px rgba(0, 0, 0, 0.25);
}
